{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<h1>Картины художника {{artist.artist_name}}</h1>
<h2>{{artist.about}}</h2>
{% for item in pictures%}
<div class="col-md6 border rounded">
    <h2>{{item.artist}} - {{item.title}}</h2>
    <div>
        {{Рейтинг - item.rating}}
    </div>
    <div>
        <a class="btn btn-primary " href="//view_picture/{{item.id}}>">осмотреть картину</a>
    </div>

</div>
{% endfor %}
{% endblock %}